body {
  margin: 0;
}

h2,
h3,
h5,
p,
li,
select,
button {
  color: #666666;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  color: #00fff2;
}

.next {
  color: white;
}

.traffic,
.daily,
.mobile,
.s-media-container,
.members,
.activity,
.message,
.settings {
  padding: 20px;
  border-top: 1px solid #8a8a8a;
}

.grid-container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: navigation;
  background-color: #4D4C72;
}

main {
  grid-area: main;
}

.widget-container-full, .widget-container-half {
  width: 85vw;
}

#bellIcon {
  height: 25px;
  width: 25px;
}

#bellIcon path {
  fill: #666666;
}

.profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50% 50%;
  margin-left: 40px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #7477BF;
}

header h5 {
  margin-left: 10px;
}

.bell-icon {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.bell-icon h3 {
  font-size: 12px;
  margin: 0 20px 0 5px;
}

#header-vertical-line {
  margin: 0 10px;
  transform: rotate(90deg);
  color: #666666;
  height: 0;
  width: 20%;
}

.navIcon {
  height: 25px;
  width: 25px;
}

.navIcon path {
  fill: #A6A6B9;
}

.headline {
  margin: 15px 15px;
}

.main-header {
  display: flex;
}

.main-header-search {
  border-bottom: 2px solid #969494;
  border-left: 2px solid #969494;
  border-radius: 0 0 0 10px;
  background: #eee6e6;
  width: 100%;
}

.main-header-search input {
  display: flex;
  margin: 1em 0 1em auto;
  width: 15em;
  height: 40px;
  padding-left: 10px;
  background: white;
  border: 1px solid #8a8a8a;
  border-right: none;
  border-radius: 10px 0 0 10px;
  font-size: 14px;
}

.traffic-header {
  display: flex;
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 0;
}

.traffic-nav-link {
  margin: auto 0 auto 5px;
  list-style-type: none;
}

.active {
  background-color: #9df59d;
  padding: 2px 5px;
  border-radius: 20px;
}

.social {
  display: flex;
  flex-direction: row;
  padding: 5em 0;
  margin: auto;
  justify-content: space-evenly;
}

#social-1,
#social-2,
#social-3 {
  display: flex;
  flex-grow: 1;
  border: 1px solid #8a8a8a;
  padding: 8px;
}

.media-logo {
  margin: 14px 4px 0 4px;
}

.media-logo path {
  fill: #7377BF;
}

#userField, #messageField, #timezone, .button-primary, #cancel {
  width: 100%;
  padding: 1em 0;
  margin-top: 0.5em;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

.settings, .message {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .members-container, .activity-container, .widget-container, .form-field, .settings-button {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    max-width: 500px;
  }

  .profile-image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .main-header, .alert, .traffic, .s-media-container {
    grid-column: 1/span 2;
  }

  .members, .message, .daily {
    grid-column: 1/span 1;
  }

  .mobile, .activity, .settings {
    grid-column: 2/span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }

  .main-header-search input {
    margin: 0.25em 1em 1em auto;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
  }

  .daily, .mobile {
    border: 1px solid #8a8a8a;
    padding: 5px 0px;
  }

  .daily {
    border-left: none;
  }

  .mobile {
    border-left: none;
    border-right: none;
  }

  .s-media-container {
    border-top: none;
  }

  #social-1,
#social-2,
#social-3 {
    padding: 5px;
    max-width: 300px;
  }

  .profile-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .members-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
  }

  .members-text a {
    color: #666666;
    padding: 0;
  }

  .members-text h3 {
    margin: 0;
  }

  .members-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #8a8a8a;
    margin-top: 20px;
  }

  .members-container p {
    margin: auto 0;
  }

  .next {
    color: #666666;
    font-size: 40px;
  }

  .next:hover, .members-text a:hover {
    color: aqua;
    transition: 0.5s;
  }

  .members,
.message {
    padding-top: 5px;
    padding-left: 20px;
  }

  .activity,
.settings {
    padding-top: 5px;
  }

  #userField {
    margin-top: auto;
  }

  #timezone {
    margin-top: auto;
  }

  .settings-button {
    display: flex;
  }

  .button-primary {
    width: 40%;
    margin: 0.5em auto 0 0.5em;
  }

  #cancel {
    width: 40%;
    margin: 0.5em 0 auto 0.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
