//  Descriptive colors    //@extend
$cod-grey:          #666666;
$white:             #FFF;
$wild-dove:         #8a8a8a;
$ship-cove:         #7477BF;
$mulled-wine:       #4D4C72;
$spun-pearl:        #A6A6B9;
$de-york:           #81C98F;
$wistful:           #ACADD7;
$glacier:           #73B1BF;
$ship-cove-lighter: #7377BF;

// Base style colors //

$border-color: $wild-dove;
$icon-non-active: $spun-pearl;
$font-main-color: $cod-grey;
$main-color: $ship-cove;
$nav-color: $mulled-wine;
$main-color-lighter: $ship-cove-lighter;


// main styles //


body {
    margin: 0;
}

h2, 
h3, 
h5, 
p,
li,
select,
button {
    color: $font-main-color;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
color: rgb(0, 255, 242);
}

.next {
color: white;
}

.traffic,
.daily,
.mobile,
.s-media-container,
.members,
.activity,
.message,
.settings {
    padding: 20px;
    border-top: 1px solid $wild-dove;
}

//   Grid   //

.grid-container {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
    background-color: $nav-color;
}

main {
    grid-area: main;
}

.widget-container-full, .widget-container-half {
    width: 85vw;
}



//  Header styles  //

#bellIcon {
    height: 25px;
    width:  25px;
}

#bellIcon path{
    fill: $cod-grey;
}

.profile-img {
    height: 35px;
    width:  35px;
    border-radius: 50% 50%;
    margin-left: 40px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: $main-color;
}

header h5 {
    margin-left: 10px;
}

.bell-icon {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.bell-icon h3{
    font-size: 12px;
    margin: 0 20px 0 5px;
}

#header-vertical-line{ 
    margin: 0 10px;
    transform: rotate(90deg);
    color: $cod-grey;
    height: 0;
    width: 20%;
}

//nav icons 

.navIcon {
    height: 25px;
    width:  25px;
}


.navIcon path{
    fill: $icon-non-active;
}

// navigation styles

.headline {
    margin: 15px 15px;
}

.main-header {
    display: flex;

}

.main-header-search {
    border-bottom: 2px solid rgb(150, 148, 148);
    border-left: 2px solid rgb(150, 148, 148);
    border-radius: 0 0 0 10px;
    background: rgb(238, 230, 230);
    width: 100%;
}

.main-header-search input{
    display: flex;
    margin: 1em 0 1em auto;
    width: 15em;
    height: 40px;
    padding-left: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid $wild-dove;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
}


//traffic 

.traffic-header {
    display: flex;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0;
}

.traffic-nav-link {
    margin: auto 0 auto 5px;
    list-style-type: none;
}

.active {
    background-color: rgb(157, 245, 157);
    padding: 2px 5px;
    border-radius: 20px;
}

// social media div styles

.social {
    display: flex;
    flex-direction: row;
    padding: 5em 0;
    margin: auto;
    justify-content: space-evenly;
}

#social-1, 
#social-2,
#social-3 {
    display: flex;
    flex-grow: 1;
    border: 1px solid $wild-dove;
    padding: 8px
}

.media-logo {
    margin: 14px 4px 0 4px;
}

.media-logo path{
    fill: $main-color-lighter;
}

// message & settings 

#userField, #messageField, #timezone, .button-primary, #cancel {
    width: 100%;
    padding: 1em 0;
    margin-top: .5em;
    border: 1px solid $wild-dove;
    border-radius: 5px;
}

.settings, .message {
    display: flex;
    flex-direction: column;
}

// Charts

@media(max-width: 767px) {
    .members-container, .activity-container, .widget-container, .form-field, .settings-button {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 0 auto;
        max-width: 500px;
    }
    .profile-image {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
}



@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .main-header, .alert, .traffic, .s-media-container {
        grid-column: 1 / span 2;
    }
    .members, .message, .daily {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .main-header-search input{
        margin: .25em 1em 1em auto;
        border: 1px solid $wild-dove;
        border-radius: 10px;
    }    
    .daily, .mobile {
        border: 1px solid $wild-dove;
        padding: 5px 0px;
    }

    .daily {
        border-left: none;
    }
    .mobile {
        border-left: none;
        border-right: none;
    }

    .s-media-container {
        border-top: none;
    }
    
    #social-1, 
    #social-2,
    #social-3 {
        padding: 5px;
        max-width: 300px;
    }
    
    .profile-image {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .members-text {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        justify-content: center;
    }
    
    .members-text a {
        color: $cod-grey;
        padding: 0;
    }

    .members-text h3 {
        margin: 0;
    }

    .members-container {
        display:flex;
        flex-direction: row;
        padding-bottom: 20px;
        border-bottom: 1px solid $wild-dove;
        margin-top: 20px;
    }

    .members-container p {
        margin: auto 0;
    }

    .next {
        color: $cod-grey;
        font-size: 40px;
    }

    .next:hover, .members-text a:hover {
        color: rgb(0, 255, 255);
        transition: .5s;
    }

    .members,
    .message {
        padding-top: 5px;
        padding-left: 20px;
    }

    .activity,
    .settings {
        padding-top: 5px;
    }

    #userField {
        margin-top: auto;
    }
    #timezone {
        margin-top: auto;
    }
    .settings-button {
        display: flex;
    }

    .button-primary {
        width: 40%;
        margin: .5em auto 0 .5em;
    }

    #cancel {
        width: 40%;
        margin: .5em 0 auto .5em;
    }
}